---
import ArticleGradient from "@components/article/article-gradient.astro";
import ArticleHeader from "@components/article/article-header.astro";
import RecommendedArticles from "@components/article/article-recommended.astro";
import Divider from "@components/atoms/divider.astro";
import ExternalLink from "@components/atoms/external-link.astro";
import PageView from "@components/atoms/page-view.astro";
import NewsletterForm from "@components/newsletter/newsletter-form.astro";
import { getAllPublishedArticles } from "@data/articles";
import ArticleLayout from "@layouts/article-layout.astro";
import PageLayout from "@layouts/page-layout.astro";
import SeoArticle from "@layouts/seo-article.astro";
import { type CollectionEntry } from "astro:content";
import { CONFIG, PATHS } from "const";

export async function getStaticPaths() {
    const allArticles = await getAllPublishedArticles();
    return allArticles.map((article) => {
        return {
            params: { slug: article.slug },
            props: article,
        };
    });
}
type Props = CollectionEntry<"blog">;

const article = Astro.props;
const { Content } = await article.render();

const formattedTitle = encodeURI(article.data.title);
---

<PageLayout>
    <SeoArticle slot="head" />
    <ArticleLayout category={article.data.category}>
        <ArticleHeader article={article} />
        <ArticleGradient article={article} />
        <Content />
    </ArticleLayout>
    <div class="mb-8 flex flex-row items-center justify-between">
        <a class="font-serif" href={PATHS.home}
            >{CONFIG.author} &middot; {new Date().getFullYear()}</a
        >
        <ExternalLink
            href=`http://twitter.com/share?text=${formattedTitle}&url=${Astro.request.url}`
            >Share on 𝕏</ExternalLink
        >
    </div>
    <Divider variant="light" classes="mb-6 mt-6" />
    <NewsletterForm />
    <Divider variant="light" classes="mb-10 mt-6" />
    <RecommendedArticles category={article.data.category} />
</PageLayout>

<PageView slug={article.slug} />
