---
import ArticleHeader from "@components/article-header.astro";
import Divider from "@components/divider.astro";
import { getAllPublishedArticles } from "@data/articles";
import ArticleLayout from "@layouts/article-layout.astro";
import PageLayout from "@layouts/page-layout.astro";
import SeoArticle from "@layouts/seo-article.astro";
import { type CollectionEntry } from "astro:content";
import { CONFIG, PATHS } from "const";

export async function getStaticPaths() {
    const allArticles = await getAllPublishedArticles();
    return allArticles.map((article) => {
        return {
            params: { slug: article.slug },
            props: article,
        };
    });
}
type Props = CollectionEntry<"blog">;

const article = Astro.props;
const { Content } = await article.render();
---

<PageLayout>
    <SeoArticle slot="head" />
    <ArticleLayout>
        <ArticleHeader article={article} />
        <Content />
    </ArticleLayout>
    <Divider />
    <div class="flex flex-row justify-between">
        <a class="font-serif" href={PATHS.home}
            >{CONFIG.author} &middot; {new Date().getFullYear()}</a
        >
        <a
            target="_blank"
            rel="noopener noreferrer"
            href=`http://twitter.com/share?text=${article.data.title}&url=${Astro.request.url}`
        >
            Share on 𝕏
        </a>
    </div>
</PageLayout>
