---
import { getArticleLink, getFormattedDate } from "@helpers/article";
import type { CollectionEntry } from "astro:content";
import { articleCardWidth } from "const";
import { BlogType } from "content/config";
import MiddleDot from "../atoms/middle-dot.astro";
import ReadArticle from "./read-article.astro";
import { formatDateForDatetime } from "@helpers/date";

interface Props {
    article: CollectionEntry<"blog">;
}

const { article } = Astro.props;
const { title, publicationDate, category, editDate } = article.data;
const formattedPubTime = getFormattedDate(publicationDate);
const formattedEditDate = getFormattedDate(editDate, true);
const isHome = Astro.url.pathname === "/";
---

<a href={getArticleLink(article.slug)}>
    <article class=`group py-4 ${articleCardWidth}`>
        <h2 class="text-balance text-2xl font-medium tracking-tighter">
            {title}
        </h2>
        <section class="flex items-center gap-3 font-serif text-sm sm:text-base">
            <time class="text-font-color-muted" datetime={formatDateForDatetime(publicationDate)}
                >{formattedPubTime}</time
            >
            {
                editDate && formattedEditDate && (
                    <>
                        <MiddleDot />
                        <time
                            class="text-font-color-muted"
                            datetime={formatDateForDatetime(editDate)}
                        >
                            Updated {formattedEditDate}
                        </time>
                    </>
                )
            }
            {
                isHome && (
                    <>
                        <MiddleDot />
                        <span class:list={[category === BlogType.dev ? "text-dev" : "text-beyond"]}>
                            {category === BlogType.dev ? "dev" : "beyond"}
                        </span>
                    </>
                )
            }
        </section>
        <ReadArticle />
    </article>
</a>
