---
import { getArticleLink, getFormattedDate } from "@helpers/article";
import { formatDateForDatetime } from "@helpers/date";
import type { CollectionEntry } from "astro:content";
import MiddleDot from "../atoms/middle-dot.astro";

interface Props {
    article: CollectionEntry<"blog">;
    showEditDate?: boolean;
}

const { article, showEditDate } = Astro.props;
const { title, publicationDate, editDate } = article.data;
const formattedPubTime = getFormattedDate(publicationDate);
const formattedEditDate = getFormattedDate(editDate);
---

<a class="mb-3 sm:mb-4" href={getArticleLink(article.id)}>
    <li>
        <h3 class="font-font-medium tracking-tighter sm:tracking-normal sm:text-pretty">{title}</h3>
        <time
            class="text-font-color-muted text-sm"
            datetime={formatDateForDatetime(publicationDate)}
        >
            {formattedPubTime}
        </time>
        {
            showEditDate && editDate && formattedEditDate && (
                <>
                    <MiddleDot />
                    <time
                        class="text-font-color-muted text-sm"
                        datetime={formatDateForDatetime(editDate)}
                    >
                        Updated, {formattedEditDate}
                    </time>
                </>
            )
        }
    </li>
</a>
