---
import ColorItem from "./colorItem.astro";

const main = [
    { className: "bg-dev", text: "dev" },
    { className: "bg-beyond", text: "beyond" },
    { className: "bg-accent", text: "accent" },
];
const dev = [
    { className: "bg-gradient-dev2", text: "dev 1" },
    { className: "bg-gradient-dev4", text: "dev 2" },
    { className: "bg-gradient-dev1", text: "dev 3" },
    { className: "bg-gradient-dev3", text: "dev 4" },
    { className: "bg-gradient-dev5", text: "dev 5" },
    { className: "bg-gradient-dev6", text: "dev 6" },
];
const beyond = [
    { className: "bg-gradient-beyond3", text: "beyond 1" },
    { className: "bg-gradient-beyond5", text: "beyond 2" },
    { className: "bg-gradient-beyond4", text: "beyond 3" },
    { className: "bg-gradient-beyond1", text: "beyond 4" },
    { className: "bg-gradient-beyond6", text: "beyond 5" },
    { className: "bg-gradient-beyond2", text: "beyond 6" },
];
const state = [
    { className: "bg-success", text: "Success" },
    { className: "bg-error", text: "Error" },
    { className: "bg-input", text: "Input" },
    { className: "bg-font-color-muted", text: "Muted" },
];
---

<section
    class="my-12 flex flex-col gap-10 rounded border bg-white p-4 text-sm dark:border-0 dark:bg-black"
>
    <h2 class="my-0">Colors of the blog</h2>
    <div>
        <span>Main colors</span>
        <div class="flex flex-wrap gap-3">
            {main.map(({ className, text }) => <ColorItem className={className}>{text}</ColorItem>)}
        </div>
    </div>

    <div>
        <span>Gradient colors for dev articles</span>
        <div class="flex flex-wrap gap-3">
            {dev.map(({ className, text }) => <ColorItem className={className}>{text}</ColorItem>)}
        </div>
    </div>

    <div>
        <span>Gradient colors for beyond articles</span>
        <div class="flex flex-wrap gap-3">
            {
                beyond.map(({ className, text }) => (
                    <ColorItem className={className}>{text}</ColorItem>
                ))
            }
        </div>
    </div>

    <div>
        <span>Colors of different states</span>
        <div class="flex flex-wrap gap-3">
            {
                state.map(({ className, text }) => (
                    <ColorItem className={className}>{text}</ColorItem>
                ))
            }
        </div>
    </div>
</section>
