---
import Divider from "@components/atoms/divider.astro";
import ExternalLink from "@components/atoms/external-link.astro";
import PageView from "@components/atoms/page-view.astro";
import PageHeader from "@components/page/page-header.astro";
import PageLayout from "@layouts/page-layout.astro";
import SeoPage from "@layouts/seo-page.astro";
import Image from "astro/components/Image.astro";
import { CONFIG, PATHS, URLS } from "const";
import flavien from "../content/assets/flavien_bonvin.png";
---

<PageLayout>
    <SeoPage slot="head" title=`About ${CONFIG.author}` description={CONFIG.description} />
    <PageHeader title={`Hello, I'm ${CONFIG.author}`}>
        I'm a software engineer based in Lausanne, Switzerland. Curently working at <ExternalLink
            href="https://www.proton.me"
            variant="inline">Proton</ExternalLink
        >
    </PageHeader>

    <section
        class="prose pt-4 text-font-color prose-p:font-serif prose-p:text-font-color prose-a:text-font-color prose-strong:text-font-color"
    >
        <Image src={flavien} alt="Blog author picture" class="mx-auto w-2/3 rounded-lg" />
        <p>
            Hello! I'm Flavien Bonvin and welcome to my blog! I've been working as a frontend
            engineer for quite some time now, crafting user-friendly interfaces and optimizing web
            performance.
        </p>
        <p>
            My early career was spent at an agency called <ExternalLink
                href="https://coteries.com/"
                variant="inline">Coteries</ExternalLink
            >, where I honed my skills and learned the ins and outs of web development.
        </p>
        <p>
            After some time, I wanted to contribute towards a product that I could help grow over
            time. That's when I joined <ExternalLink href="https://www.proton.me" variant="inline"
                >Proton</ExternalLink
            >, a Swiss-based privacy-focused company that wants to build a web where privacy is the
            default. It's a mission I can identify with, and one that offers endless learning
            opportunities!
        </p>
        <Divider classes="w-1/2 mx-auto" />
        <p>
            Jumping from project to project in an agency was not my cup of tea. We often had to cut
            corners to meet budget and deadlines, and we didn't always see the fruits of our hard
            labor. I realized early on in my web development journey that I need to see the value,
            the essence of the feature to enjoy working on it. Offering a stellar experience for
            users is what motivates me the most and what drives me.
        </p>
        <p>
            I'm currently working on Proton Mail, which is the very first product Proton released in
            2014 and one of their flagship. You might think that email is not exciting and is an
            outdated technology. I disagree! Emails are deeply rooted in our lives and are an
            essential tool for communicating between companies, managing our online identities, and
            handling private exchanges. Working on one of the cornerstones of the internet is really
            exciting.
        </p>
        <Divider classes="w-1/2 mx-auto" />
        <p>
            Web development is just one of my passions; I have many more! This is why you can find
            two main sections in this blog: <a
                href={PATHS.dev}
                class="font-sans transition-colors duration-150 hover:text-dev">dev</a
            >, where I share my technical knowledge and experience, and <a
                href={PATHS.beyond}
                class="font-sans transition-colors duration-150 hover:text-beyond">beyond</a
            >, where I explore my other interests. In the "beyond" section, you'll find reviews of
            coffee machines, productivity tools I can't stop myself from testing, and takes on
            subjects I'm sure to disagree with in a few years.
        </p>
        <Divider classes="w-1/2 mx-auto" />
        <p>
            That's a lot of information about my current self. What about my origins? As mentioned
            above, I currently live in the beautiful city of Lausanne, nestled on the shores of Lake
            Geneva and surrounded by jaw-dropping vineyards. I've moved there to do my Master's
            degree and never left. However, I was not raised in a city; I grew up in a small village
            nestled in the heart of the Swiss Alps. Although beautiful, I decided to leave my
            village and the mountains behind and enjoy their majestic presence from the other side
            of Lake Geneva.
        </p>
        <p>
            You can find me on 𝕏, my user name is <ExternalLink
                classes="font-sans"
                href={URLS.twitter}
                variant="inline">@FlavienBonvin</ExternalLink
            >. I'm also on <ExternalLink classes="font-sans" href={URLS.github} variant="inline"
                >GitHub</ExternalLink
            >, or even <ExternalLink classes="font-sans" href={URLS.linkedin} variant="inline"
                >LinkedIn</ExternalLink
            >. Finally, feel free to drop a message at <ExternalLink
                classes="font-sans"
                href={URLS.mailto}
                variant="inline">hello@flavienbonvin.com</ExternalLink
            >.
        </p>
    </section>
</PageLayout>

<PageView slug="about" />
