---
import Divider from "@components/atoms/divider.astro";
import ExternalLink from "@components/atoms/external-link.astro";
import PageView from "@components/atoms/page-view.astro";
import PageHeader from "@layouts/page-header.astro";
import PageLayout from "@layouts/page-layout.astro";
import SeoPage from "@layouts/seo-page.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { CONFIG, ROUTES, URLS } from "const";
import alps from "../content/assets/about/alps.png";
import flavien from "../content/assets/about/flavien_bonvin.jpg";
import lausanne from "../content/assets/about/lausanne.png";
---

<PageLayout>
    <SeoPage slot="head" title=`About ${CONFIG.author}` description={CONFIG.description} />
    <PageHeader title={`Hello, I'm ${CONFIG.author}`}>
        I'm a frontend software engineer based Switzerland.<br /> Currently working at <ExternalLink
            href="https://www.proton.me"
            variant="inline">Proton</ExternalLink
        >
    </PageHeader>

    <section
        class="prose text-font-color prose-p:font-serif prose-p:text-font-color prose-a:text-font-color prose-strong:text-font-color motion-safe:animate-fade-in-up pt-4 opacity-0 motion-safe:translate-y-10 motion-reduce:opacity-100"
    >
        <Image
            src={flavien}
            alt="Blog author picture"
            class="mx-auto rounded-lg sm:w-2/3"
            width={750}
        />
        <p>Hello and welcome! I'm Flavien Bonvin, a swiss frontend engineer.</p>
        <p>
            I'm currently working at <ExternalLink href="https://www.proton.me" variant="inline"
                >Proton</ExternalLink
            >, more specifically on Proton Mail and Proton Calendar. Before that, I worked in a
            small Lausanne-based agency.
        </p>
        <Divider classes="w-1/2 mx-auto" />
        <p>
            I have many hobbies, ranging from mountaineering, sports, cold plung in Geneva lake,
            coffee or reading. You'll see some of my other interests in the <a
                href={ROUTES.beyond}
                class="hover:text-beyond font-sans transition-colors duration-150">beyond</a
            > section of the blog. Technical article will be in the <a
                href={ROUTES.dev}
                class="hover:text-dev font-sans transition-colors duration-150">dev</a
            > section.
        </p>
        <figure>
            <Image
                src={alps}
                alt="Picture taken in the middle of the alps, in the village where I grew up"
                class="mx-auto rounded-lg sm:w-2/3"
                width={750}
            />
            <figcaption class="text-center text-sm text-pretty">Grewing up in the alps</figcaption>
        </figure>

        <p>
            You can find me on <Icon name="twitter" class="inline-block h-4 w-4" />
            <ExternalLink classes="font-sans" href={URLS.twitter} variant="inline"
                >@FlavienBonvin</ExternalLink
            >. I'm also on <ExternalLink classes="font-sans" href={URLS.github} variant="inline"
                >GitHub</ExternalLink
            >, or even <ExternalLink classes="font-sans" href={URLS.linkedin} variant="inline"
                >LinkedIn</ExternalLink
            >. Finally, feel free to drop a message at <ExternalLink
                classes="font-sans"
                href={URLS.mailto}
                variant="inline">hello@flavienbonvin.com</ExternalLink
            >.
        </p>

        <figure>
            <Image
                src={lausanne}
                alt="Picture of the Geneva lake, in the city of Lausanne where I currently live"
                class="mx-auto rounded-lg"
                width={750}
            />
            <figcaption class="text-center text-sm">
                This is the view of the Geneva lake next to my place in Lausanne
            </figcaption>
        </figure>
    </section>
    <PageView slug="about" />
</PageLayout>
