---
import { Icon } from "astro-icon/components";
import { BlogType } from "content/config";
import Divider from "../../atoms/divider.astro";

interface Props {
    title: string;
    author: string;
    rating: number;
    description: string;
    type: BlogType;
    positivePoints: string[];
    negativePoints: string[];
}

const { title, author, rating, type, description, positivePoints, negativePoints } = Astro.props;
---

<section class="flex flex-col gap-4 rounded-lg border p-6 text-font-color shadow">
    <header class="not-prose flex flex-col gap-2">
        <h2 class="text-2xl font-bold">{title}</h2>
        <p class="mb-4 text-sm text-font-color-muted">Written by {author}</p>
        <p class="text-pretty font-serif">{description}</p>
    </header>
    <Divider classes="my-3" variant={type} />
    <div class="flex flex-col">
        <h3 class="m-0">My rating</h3>
        <div>
            <h4 id="positive-heading" class="mb-4 mt-6">Positive points</h4>
            <ul class="mb-4 list-disc">
                {positivePoints.map((point) => <li aria-labelledby="positive-heading">{point}</li>)}
            </ul>
        </div>
        <div>
            <h4 id="negative-heading" class="mb-4 mt-6">Negative points</h4>
            <ul class="mb-4 list-disc">
                {negativePoints.map((point) => <li aria-labelledby="negative-heading">{point}</li>)}
            </ul>
        </div>
        <h4 class="mb-4 mt-6">Book rating</h4>
        <div class="flex items-center gap-2">
            <div class="flex">
                {
                    Array.from({ length: 5 }).map((_, index) => {
                        const isFullStar = index < rating;

                        return (
                            <Icon
                                name={isFullStar ? "star-filled" : "star"}
                                aria-hidden="true"
                                class:list={[
                                    "h-6 w-6",
                                    !isFullStar && "text-font-color-muted",
                                    isFullStar && type === BlogType.dev && "text-dev",
                                    isFullStar && type === BlogType.beyond && "text-beyond",
                                ]}
                            />
                        );
                    })
                }
            </div>
            <p class="not-prose" aria-label={`My raring of ${title} is ${rating} out of 5 stars`}>
                ({rating}/5)
            </p>
        </div>
    </div>
</section>
