---
import { getImage } from "astro:assets";
import { CONFIG } from "const";

interface Props {
    title: string;
    description: string;
}

const ogImage = await getImage({
    src: "/main_og.png",
    width: 1920,
    height: 1080,
});
---

<title>{Astro.props.title}</title>
<meta name="description" content={Astro.props.description} />

<link rel="canonical" href={Astro.request.url} />

<meta property="og:site_name" content=`${CONFIG.author}` />
<meta property="og:type" content="website" />
<meta property="og:title" content={Astro.props.title} />
<meta property="og:description" content={Astro.props.description} />
<meta property="og:url" content={Astro.request.url} />
<meta property="og:image" content={ogImage.src} />
<meta property="og:image:width" content="1920" />
<meta property="og:image:height" content="1080" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={Astro.props.title} />
<meta name="twitter:description" content={Astro.props.description} />
<meta name="twitter:url" content={Astro.request.url} />
<meta name="twitter:label1" content="Written by" />
<meta name="twitter:data1" content=`${CONFIG.author}` />
<meta name="twitter:site" content=`@${CONFIG.twitter}` />
<meta name="twitter:creator" content=`@${CONFIG.twitter}` />
<meta property="og:image" content={ogImage.src} />
